html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

#root,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  width: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
}

h3 {
  font-size: 24px;
  color: rgba(140, 1, 250, 1);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.app__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 80px;
}

.menu {
  width: 20%;
  height: 100%;
}

ul.menu__items {
  width: 100%;
  display: flex;
  flex-direction: column;
}

li.menu__item {
  display: flex;
  margin: 15px auto;
}

.menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  text-decoration: none;
  color: rgba(140, 1, 250, 1);
  background-color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 4px;
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(140, 1, 250, 1);
  transition: all 0.5s;
}

.menu__link:hover,
.menu__link--active {
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  border: 2px solid #fff;
}

.content {
  width: 80%;
  margin-left: 20px;
}

.Users {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 500px;
  text-align: center;
  background-color: #fff;
  margin: 15px auto;
  box-shadow: 0 0 10px rgba(140, 1, 250, 1);
}

.Table {
  width: 100%;
  padding: 15px;
  position: relative;
}

.nousers {
  color: rgba(140, 1, 250, 1);
}

.loading,
.error {
  align-items: center;
  color: rgba(140, 1, 250, 1);
}

.loading {
  color: rgba(140, 1, 250, 1);
}

.error {
  color: red;
}

.Table table {
  width: 100%;
}

.Table td {
  border: 1px solid #ccc;
  background-color: #efefef;
  padding: 5px;
  cursor: pointer;
}

.Table th {
  width: 50%;
  background-color: #ccc;
  padding: 5px;
  cursor: pointer;
}

#Form {
  padding: 15px;
}

#Form label {
  display: block;
  margin: 15px 0;
}

#Form input {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  border: 1px solid #ccc;
}

#Form button,
.RemoveBtn,
.EditBtn {
  width: 100%;
  padding: 15px;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s;
  color: #fff;
}

#Form button:hover,
.RemoveBtn:hover,
.EditBtn:hover {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(107, 77, 250, 1) 100%
  );
}

.RemoveBtn,
.EditBtn {
  padding: 5px;
  font-size: 10px;
  margin: 2px 0;
}

.ErrorMessage {
  font-size: 10px;
  font-weight: bold;
  color: red;
}

.itemData.active {
  background-color: #fff;
}

.user.selected td {
  background-color: #fff;
  font-weight: bold;
  color: rgba(140, 1, 250, 1);
}

.pagination__wrap {
  width: 100%;
  display: flex;
  justify-content: right;
  background-color: #fff;
}
.pagination__inner {
  padding-top: 25px;
}

.pagination__list {
  color: rgba(140, 1, 250, 1);
  font-weight: 600;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 5px;
}

.pagination__page-link,
.pagination__all-pages,
.pagination__page-num {
  padding: 5px;
  text-decoration: none;
}

.pagination__btns-control {
  margin-left: 20px;
  align-items: center;
  display: flex;
}

button.pagination__btn-prev,
button.pagination__btn-next {
  position: relative;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  font-weight: 600;
  color: #ccc;
  height: 100%;
  cursor: pointer;
}

.pagination__btn-prev svg,
.pagination__btn-next svg {
  fill: #ccc;
}

.pagination__btn-prev.active svg,
.pagination__btn-next.active svg {
  fill: rgba(140, 1, 250, 1);
}

.pagination__btn-next {
  margin-left: 10px;
}

.pagination__btn-prev::before,
.pagination__btn-next::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__btn-prev:hover svg,
.pagination__btn-next:hover svg {
  fill: rgba(140, 1, 250, 1);
}

.Movies {
  max-width: 500px;
  width: 100%;
  min-height: 500px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  margin: 15px auto;
  padding: 15px;
  box-shadow: 0 0 10px rgba(140, 1, 250, 1);
}

@media (max-width: 600px) {
  .Users {
    width: 100%;
    min-width: 100%;
  }
  .Table {
    padding: 15px 10px 30px;
  }
}