html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

#root,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  width: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
}

h3 {
  font-size: 24px;
  color: rgba(140, 1, 250, 1);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.app__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 80px;
}

.menu {
  width: 20%;
  height: 100%;
}

ul.menu__items {
  width: 100%;
  display: flex;
  flex-direction: column;
}

li.menu__item {
  display: flex;
  margin: 15px auto;
}

.menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  text-decoration: none;
  color: rgba(140, 1, 250, 1);
  background-color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 4px;
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(140, 1, 250, 1);
  transition: all 0.5s;
}

.menu__link:hover,
.menu__link--active {
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  border: 2px solid #fff;
}

.content {
  width: 80%;
  margin-left: 20px;
}

.Users {
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 500px;
  width: 100%;
  text-align: center;
  background-color: #fff;
  margin: 15px auto;
  box-shadow: 0 0 10px rgba(140, 1, 250, 1);
}

.UsersTable {
  width: 100%;
  padding: 15px;
  position: relative;
}

.nousers {
  color: rgba(140, 1, 250, 1);
}

.loading {
  align-items: center;
  color: rgba(140, 1, 250, 1);
}

.UsersTable table {
  width: 100%;
}

.UsersTable td {
  border: 1px solid #ccc;
  background-color: #efefef;
  padding: 5px;
  cursor: pointer;
}

.UsersTable tr td:last-child {
  max-width: 65px;
}

.UsersTable th {
  background-color: #ccc;
  padding: 5px;
  cursor: pointer;
}

#UsersForm {
  padding: 15px;
}

#UsersForm label {
  display: block;
  margin: 15px 0;
}

#UsersForm input {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#UsersForm button,
.RemoveBtn,
.EditBtn,
.movieWatched,
.movieRemoveBtn,
.movieEditBtn {
  width: 100%;
  padding: 15px;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s;
  color: #fff;
}

#UsersForm button:hover,
.RemoveBtn:hover,
.EditBtn:hover,
.movieWatched:hover,
.movieRemoveBtn:hover,
.movieEditBtn:hover {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(107, 77, 250, 1) 100%
  );
}

.RemoveBtn,
.EditBtn {
  padding: 5px;
  font-size: 10px;
  margin: 2px 0;
  max-width: 60px;
}

.movieEditBtn,
.movieRemoveBtn {
  max-width: 45px;
  padding: 3px;
  font-size: 8px;
  margin: 2px;
}

.movieWatched {
  max-width: 45px;
  padding: 2px;
  font-size: 8px;
  margin: 2px;
}

.ErrorMessage {
  font-size: 10px;
  font-weight: bold;
  color: red;
}

.SubmitError {
  font-size: 16px;
  font-weight: bold;
  color: red;
}

.itemData.active {
  background-color: #fff;
}

.user.selected td {
  background-color: #fff;
  font-weight: bold;
  color: rgba(140, 1, 250, 1);
}

.pagination__wrap {
  width: 100%;
  display: flex;
  justify-content: right;
  background-color: #fff;
}
.pagination__inner {
  padding-top: 25px;
}

.pagination__list {
  color: rgba(140, 1, 250, 1);
  font-weight: 600;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 5px;
}

.pagination__page-link,
.pagination__all-pages,
.pagination__page-num {
  padding: 5px;
  text-decoration: none;
}

.pagination__btns-control {
  margin-left: 20px;
  align-items: center;
  display: flex;
}

button.pagination__btn-prev,
button.pagination__btn-next {
  position: relative;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  font-weight: 600;
  color: #ccc;
  height: 100%;
  cursor: pointer;
}

.pagination__btn-prev svg,
.pagination__btn-next svg {
  fill: #ccc;
}

.pagination__btn-prev.active svg,
.pagination__btn-next.active svg {
  fill: rgba(140, 1, 250, 1);
}

.pagination__btn-next {
  margin-left: 10px;
}

.pagination__btn-prev::before,
.pagination__btn-next::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__btn-prev:hover svg,
.pagination__btn-next:hover svg {
  fill: rgba(140, 1, 250, 1);
}

.Movies {
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 15px auto;
  text-align: center;
  box-shadow: 0 0 10px rgba(140, 1, 250, 1);
}

.MoviesForm {
  padding: 15px;
}

.MoviesForm h3 {
  padding-bottom: 15px;
}

.MuiBox-root {
  align-items: center;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  border-radius: 4px !important;
  border: 1px solid #ccc !important;
  padding: 12px !important;
}

.MoviesForm button {
  width: calc(20% - 10px);
  padding: 5px;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.3s;
  color: #fff;
  align-items: center;
}

.MoviesForm button:hover {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(107, 77, 250, 1) 100%
  );
}

.MoviesTable {
  width: 100%;
  padding: 15px;
  position: relative;
}

.MoviesTable table {
  width: 100%;
}

.MoviesTable td {
  border: 1px solid #ccc;
  background-color: #efefef;
  padding: 5px;
  cursor: pointer;
}

.MoviesTable th {
  background-color: #ccc;
  padding: 5px;
  cursor: pointer;
}

.Actions_title {
  width: 90px;
}

.action-btns {
  display: flex;
  justify-content: center;
  flex-direction: row;
  min-height: 50px;
}

.form__inner {
  display: flex;
  flex-direction: row;
}

.formInputWrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.rating__box {
  display: flex;
  justify-content: left;
  align-items: center;
}

.rating__box p {
  margin: 0 20px 0 15px;
}

@media (max-width: 992px) {
  .app__wrapper {
    flex-direction: column;
    margin-top: 40px;
  }
  .menu {
    width: 100%;
  }
  ul.menu__items {
    flex-direction: row;
    justify-content: space-between;
    max-width: 500px;
    margin: 0 auto;
  }
  li.menu__item {
    margin: 0;
  }
  .content {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .Users {
    width: 100%;
    min-width: 100%;
  }
  .UsersTable {
    padding: 15px 10px 30px;
  }
}

@media (max-width: 450px) {
  .menu__link {
    width: 120px;
    height: 40px;
  }

  .UsersTable td {
    font-size: 14px;
  }

  .UsersTable th {
    font-size: 14px;
  }
}

@media (max-width: 350px) {
  .UsersTable td {
    font-size: 12px;
  }

  .UsersTable th {
    font-size: 12px;
  }
}
