* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
}

h3 {
  color: rgba(140, 1, 250, 1);
}

.App {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 500px;
  text-align: center;
  background-color: #fff;
}

.Users {
  width: 100%;
  padding: 15px 15px 30px;
}

.Users table {
  width: 100%;
}

.ControlBtns {
  display: flex;
  flex-direction: column;
}

.Users td {
    border: 1px solid #ccc;
    background-color: #efefef;
    padding: 5px;
    cursor: pointer;
}

.Users th {
    width: 50%;
    background-color: #ccc;;
    padding: 5px;
    cursor: pointer;
}

#Form {
  padding: 15px;
}

#Form label {
    display: block;
    margin: 15px 0;
}

#Form input {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  border: 1px solid #ccc;
}

#Form button,
.RemoveBtn,
.EditBtn {
  width: 100%;
  padding: 15px;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  cursor: pointer;
  transition: all .3s;
  color: #fff;
}

#Form button:hover,
.RemoveBtn:hover,
.EditBtn:hover {
  background: linear-gradient(
    90deg, 
    rgba(93, 12, 255, 1) 0%, 
    rgba(107, 77, 250, 1) 100%);
}

.RemoveBtn,
.EditBtn {
  padding: 5px;
  font-size: 10px;
  margin: 2px 0;
}

.ErrorMessage {
  font-size: 10px;
  font-weight: bold;
  color: red;
}

.itemData.active {
  background-color: #fff;
}

.user.selected td{
  background-color: #fff;
  font-weight: bold;
  color: rgba(140, 1, 250, 1);
}

.pagination__wrap {
  width: 100%;
  display: flex;
  justify-content: right;
  background-color: #fff;
}

.pagination__list {
  color: rgba(140, 1, 250, 1);
  font-weight: 600;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 5px;
}

.pagination__page-link,
.pagination__all-pages-link {
  padding: 5px;
  text-decoration: none;
}

.pagination__btns-control {
  margin-left: 20px;
}

.pagination__btn-prev,
.pagination__btn-next {
  position: relative;
  width: 20px;
  height: 20px;
  padding: 2px;
  background-color: transparent;
  border: none;
  font-weight: 600;
  color: #ccc;
}

.pagination__btn-prev::before,
.pagination__btn-next::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__btn-prev::before {
  content: '<';
}

.pagination__btn-next::before {
  content: '>';
}

@media (max-width: 600px) {
  .App {
    width: 100%;
    min-width: 100%;
  }
  .Table {
    padding: 15px 10px 30px;
  }
}